<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Declara que la app usará la cámara -->
    <uses-feature android:name="android.hardware.camera.any" />

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- El permiso de almacenamiento ya no es necesario para la galería en versiones modernas -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationFinal">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplicationFinal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Nueva Activity para reproducir videos -->
        <activity
            android:name=".VideoActivity"
            android:exported="false"
            android:label="Reproductor de Video"
            android:theme="@style/Theme.MyApplicationFinal" />

        <!-- Nueva Activity para mostrar mensajes -->
        <activity
            android:name=".MessageActivity"
            android:exported="false"
            android:label="Mostrar Mensajes"
            android:theme="@style/Theme.MyApplicationFinal" />
    </application>

</manifest>